.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

#doc{
    text-align: center;
    padding: 0 20%;
}

pre{
    background-color: #eee;
    border: 1px solid #999;
    scrollbar-color: dark;
    width: 100%;
    max-height: 800px;
    display: inline-block;
    overflow: auto;
    text-align: left;
    padding: 20px; 
}
/* pre{
   width: 100%;
}

code{
    width: 100%;
} */

#doc > p{
    font-size: 15px
}

ul{
    padding-left: 0;
}
li{
    list-style: none;
}
